.grid{
	position: absolute;
	width: 560px;
	height: 300px;
	border: 1px solid black;
	border-bottom: 2px solid red;
}

.block{
	position: absolute;
	width: 100px;
	height: 20px;
	background-color: lightblue;

}

.user{
	position: absolute;
	width: 100px;
	height: 20px;
	background-color: blue;
	border-radius: 10px;
	
}

.ball{
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: green;
}

.gameover{
	position: absolute;
	color: red;
	font-family: Arial;
	font-size: 36px;
	left:0;
	width:100%;
	text-align: center;
	bottom: 60px;
}